{
    "presets": [
        [
            "@babel/env",
            {
                "targets": {
                    "node": "8"
                }
            }
        ]
    ],
    "minified": true,
    "comments": false
}
